<!DOCTYPE html>

<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="static box">
    <div class="entry">
      <span class="author-text"><%= entry.author %></span>
      <span class="date-text"><%= entry.date_taken %></span>
      <hr class="before"/>
      <img alt="Entry Image" src="<%= entry.photo_url %>" />
      <hr class="after"/>
      <span class="likes-text">
        <a href="/entries/<%= entry.id %>/like?redirect=show">
          <%- entry.html_formatted_likes() %>
        </a>
      </span>
    </div>
  </div>
</body>
</html>
